<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Consulta de Ordem de Serviço</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/resources/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/resources/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/resources/css/app.css">
  <link rel="shortcut icon" href="/resources/images/agenda_branco.png" />
</head>

<body>
  @include('partials/_navbar')
  <div class="container-fluid">
    <div class="row">
      @include('partials/_sidebar')
      <main role="main" class="col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-12" style="padding-top: 35px">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"></div>
        @flashMessage('notificacao')
        <div class="alert alert-{{ $message.type }}">
          {{ $message.message }}
        </div>
        @end

        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h1 class="pt-0">Consultar Ordem de Serviço</h1>
                @if(!ordemServicos.length)
                <div class="alert alert-secondary">
                  <i class="mdi mdi-alert-box icon-md"></i> Nenhuma ordem de serviço encontrada na base de dados!
                </div>
                @else
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="font-weight-bold text-success">Id</th>
                        <th class="font-weight-bold text-success">Cliente</th>
                        <th class="font-weight-bold text-success">Serviço</th>
                        <th class="font-weight-bold text-success">Funcionário</th>
                        <th class="font-weight-bold text-success">Data</th>
                        <th class="font-weight-bold text-success">Opções</th>
                      </tr>
                    </thead>
                    <tbody>
                      @each(ordemServico in ordemServicos)
                      <tr>
                        <td>{{ ordemServico.id }}</td>
                        <td>{{ ordemServico.cliente.nome }}</td>
                        <td>{{ ordemServico.servico.nome }}</td>
                        <td>{{ ordemServico.funcionario.nome }}</td>
                        <td>{{ new Date(ordemServico.dataOrdem).toLocaleDateString('pt-BR') }}</td>

                        <td style="display: flex;">
                          <a href="{{ route('ordem_servicos.edit', [ordemServico.id]) }}" class="btn-action-green mr-1">
                            <i class="mdi mdi-border-color"></i>
                          </a>
                          <form id="form-delete-{{ ordemServico.id }}" method="POST"
                            action="{{ route('ordem_servicos.destroy', { id: ordemServico.id }, { qs: { _method: 'DELETE' } }) }}">
                            {{ csrfField() }}
                            <a href="#" onclick="document.getElementById('form-delete-{{ ordemServico.id }}').submit();" class="btn-action-green mr-1">
                              <i class="mdi mdi-delete-variant"></i>
                            </a>
                          </form>
                        </td>
                      </tr>
                      @endeach
                    </tbody>
                  </table>
                </div>
                @endif
              </div>
            </div>
          </div>
        </div>
        <a href="{{ route('ordem_servicos.create') }}" class="btn btn-primary">Cadastrar Nova Ordem de Serviço</a>
      </main>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="/resources/vendors/js/vendor.bundle.base.js"></script>
  <script src="/resources/vendors/chart.js/Chart.min.js"></script>
  <script src="/resources/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/resources/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/resources/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/resources/vendors/owl-carousel-2/owl.carousel.min.js"></script>
  <script src="/resources/js/off-canvas.js"></script>
  <script src="/resources/js/hoverable-collapse.js"></script>
  <script src="/resources/js/misc.js"></script>
  <script src="/resources/js/settings.js"></script>
  <script src="/resources/js/todolist.js"></script>
  <script src="/resources/js/dashboard.js"></script>
</body>

</html>
