<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cadastro de Cliente</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/resources/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/resources/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/resources/css/app.css">
  <link rel="shortcut icon" href="/resources/images/favicon.png" />
</head>

<body>
  @include('partials/_navbar')
  <div class="container-fluid">
    <div class="row">
      @include('partials/_sidebar')
      <main role="main" class="col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-12" style="padding-top: 35px">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        </div>
        @flashMessage('notificacao')
        <div class="alert alert-{{ $message.type }}">
          {{ $message.message }}
        </div>
        @end

        <div class="card">
          <div class="card-body">
            <h1 class="pt-0">Cadastro de Cliente</h1>
            <form class="forms-sample" method="POST"
              action="{{ !cliente ? route('clientes.store') : route('clientes.update', { id: cliente.id }, { qs: { _method: 'PUT' } }) }}">
              {{ csrfField() }}

              <div class="form-group">
                <label for="inputNome">Nome</label>
                <input type="text" class="form-control" id="inputNome" value="{{ old('nome') || cliente?.nome ||'' }}"
                  name="nome" placeholder="Informe o nome">
                @inputError('nome')
                <span class="text-danger"> {{ $messages.join(', ') }} </span>
                @end
              </div>

              <div class="form-group">
                <label for="inputTelefone">Telefone</label>
                <input type="text" class="form-control" id="inputTelefone"
                  value="{{ old('telefone') || cliente?.telefone ||'' }}" name="telefone"
                  placeholder="Informe o telefone">
                @inputError('telefone')
                <span class="text-danger"> {{ $messages.join(', ') }} </span>
                @end
              </div>

              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" value="{{ old('email') || cliente?.email ||'' }}"
                  name="email" placeholder="Informe o email">
                @inputError('email')
                <span class="text-danger"> {{ $messages.join(', ') }} </span>
                @end
              </div>

              <div class="form-group">
                <label for="inputIdade">Idade</label>
                <input type="number" class="form-control" id="inputIdade" name="idade"
                  value="{{ old('idade') || cliente?.idade || '' }}" placeholder="Informe a idade">
                @inputError('idade')
                <span class="text-danger"> {{ $messages.join(', ') }} </span>
                @end
              </div>

              <button type="submit" class="btn btn-primary mr-2">Salvar</button>
              <button class="btn btn-dark" type="button" onclick="window.history.back()">Cancelar</button>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>

 
  <script src="/resources/vendors/js/vendor.bundle.base.js"></script>
  <script src="/resources/vendors/chart.js/Chart.min.js"></script>
  <script src="/resources/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/resources/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/resources/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/resources/vendors/owl-carousel-2/owl.carousel.min.js"></script>
  <script src="/resources/js/off-canvas.js"></script>
  <script src="/resources/js/hoverable-collapse.js"></script>
  <script src="/resources/js/misc.js"></script>
  <script src="/resources/js/settings.js"></script>
  <script src="/resources/js/todolist.js"></script>
  <script src="/resources/js/dashboard.js"></script>
</body>

</html>
