<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/resources/css/app.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/resources/images/favicon.png" />
@include('partials/_navbar')
@include('partials/_sidebar')
</html>